[app_settings]
otdf_loader_log_file=D:\OTLogs\13579.log
output_otdf_list=D:\OTLogs\LoadingFailedFileList.log
keyword1=System.AggregateException: One or more errors occurred. ---> System.Data.SqlClient.SqlException: Execution Timeout Expired
keyword2=Loading failed for file 
mail_to=Shengzhen.Fu@optimalplus.com
mail_from=Shengzhen.Fu@optimalplus.com
smtp_server=smtp.office365.com
smtp_port=587
smtp_username=Shengzhen.Fu@optimalplus.com
smtp_password=
mail_title=[Notice]email of OTDF loader timeout at ATTJ
mail_content=hi OT support found timeout in OTDF loader logs today at ATTJ , please check and reload if required, thanks
